.col-md-6 {
  height: 88px;
}
.card {
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .35);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.card .card-img {
  height: 64px;
  width: 64px;
}
.card .card-title {
  color: #333;
}
.text-muted {
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}