.navbar {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .35);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.navbar .navbar-brand {
    color: #b06006;
    font-weight: 700;
}
/*.navbar-nav .active > .nav-link {*/
/*    background-color: #b06006;*/
/*    border-radius: 30px;*/
/*    color: #fff;*/
/*    padding: 5px 10px;*/
/*}*/
.navbar-nav li a {
    color: rgb(55, 56, 60);
    font-weight: 600;
}
.Void {
    height: 65px;
}
